body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /* font-family: cursive; */

    /* (gpt給的)font-family: "Noto Sans TC", "微軟正黑體", "Segoe UI", Arial, sans-serif; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/*字體還不確定怎麼改，有點亂，以下是中英文分開設定*/
/* :lang(en){
    font-family: sans-serif;
} */

.content {
    background-color: #e7e7e794;
    width: 80%;/*改成80%，因為不想讓按扭上的字換行*/
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: left; /*先改left，說不定center更好*/
    font-size: large;
}

.card{
    background-image: url("../pictures/stolen_declaration.png");
    display: flex;
    justify-content: center;
    align-content: center;
    background-position:center;
    background-repeat:no-repeat ;
    background-size:100%;
    padding:40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 15px;
    height: 150px;
    width: 250px;
}
.card_text{
    width: fit-content;
    margin-top: 30px;
}


.hide {
    display: none;
}

button{
    margin: 10px;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    text-align: left;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #e0e0e0;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button_position{
    display: flex;
    justify-content: center; 
    align-items: center;    
}
/*為什麼我想讓button在畫面中水平置中需要再建一個.button_position
    不能在button{}中加入justify-content就好*/

#answer{
    margin-top: 20px;
    font-size: 18px;
}