body{
  margin:0;
  width:100vw;
  height:600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  display: inline-block;
  font-weight: 1000;
}
h1{
  text-align: center;
  color:whitesmoke;
  margin:10px;
}
input{
  display:inline-block;
  width: 200px;
  height: 30px;
  margin: 5px;
  border-radius: 5%;
  border:0px;
}

button{
  display: block;
  width: 100px;
  height: 30px;
  margin: 5px;
  border-radius: 30%;
  background-color: rgb(250, 245, 137);
  border:0px;
  box-shadow: 5px 5px 5px #888;
  color:#5b4b00;
}
#showpasswd{
  width:fit-content;
  height: 30px;
}
.login{
  width:95%;
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:2px solid whitesmoke;
  border-radius: 20px;
  gap:20px;
  background-color: rgba(255,255,255,0.1);
}
.login div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-and-passwd{
  width: 100%;
  height: auto;
  display: flex;
  gap:5px;
  flex-direction: column;
  justify-content:space-around;
}
.name-and-passwd div{
  width:80%;
  display:flex;
  justify-content: flex-start;  

}
.login_base{
  width:400px;
  height:350px;
  background-color:rgba(30,144,255,0.6) ;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.CAPTCHA input{
  width:100px;
}

#captchaCanvas{
  border-radius: 20px;
  width:fit-content;
  height:30px;
  padding:2px;
  border: 2px solid rgb(255, 232, 140);
}
.submit-and-clean{
  gap:20px;
}